<h1 mat-dialog-title><strong>{{action}} CALENDAR</strong></h1>
<div mat-dialog-content>
    <div *ngIf="action != 'Delete'; else elseTemplate">
        <mat-form-field>
            <input placeholder="Title" matInput [(ngModel)]="local_data.title">
        </mat-form-field>

        <mat-form-field>
            <input placeholder="Description" matInput [(ngModel)]="local_data.description">
        </mat-form-field>


        <button mat-flat-button color="accent" (click)="isExpandedTeacherList = !isExpandedTeacherList"
            > {{!isExpandedTeacherList?"Assign Teachers":"Hide List of Teachers"}}</button>

        <div *ngIf="isExpandedTeacherList">
            <mat-selection-list #teachersId [(ngModel)]="selectedTeachers" (selectionChange)="onSelection($event, teachersId.selectedOptions.selected)">
                <mat-list-option *ngFor="let teacher of teachers" [value] = 'teacher.id'>
                    {{teacher.firstname}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        
    </div>

    <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions class="mt-10">
    <span fxFlex></span>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">{{ action !== 'Edit'?action:'Save' }}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>